nextflow.enable.dsl = 2

manifest {
  description = 'Creating a GO database for a model organism' 
  author = 'Chris Wyatt'
}

profiles {
  myriad {
    includeConfig 'conf/myriad.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  cscluster {
    includeConfig 'conf/cscluster.config'
  }
}

