/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

timeline.enabled = false

report.enabled = false

dag.enabled = false

params {
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

