//params inherited from main nextflow.config for validation purposes

//indicate that we want to use awsbatch
process.executor = 'awsbatch'

//indicate the name of the AWS Batch job queue we want to use
process.queue = params.awsqueue

//region where we want to run this in
aws.region = params.awsregion

//path to aws cli
aws.batch.cliPath = params.awscli

//Additionally we want to use S3 to hold intermediate files so we specify the work directory
workDir = params.s3bucket

fusion {
    enabled = true
    exportStorageCredentials = true
}

wave {
    enabled = true
}
