process {
  singularity.enabled = true
  singularity.autoMounts = true
  shell = ['/bin/bash','-e']
  executor = 'sge'
  withName: "ORTHOFINDER" {
    //cpus = 8
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=24:0:0,h_vmem=30G,tscratch=30G -pe smp 4'
  }
  withName: "GET_DATA" {
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=2:0:0,h_vmem=30G,tscratch=30G'
  }
  withName: "GO_ASSIGN" {
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=1:0:0,h_vmem=30G,tscratch=30G'
  }
  withName: "GO_EXPANSION" {
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=1:0:0,h_vmem=30G,tscratch=30G'
  }
  withLabel: 'longest' {
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=1:0:0,h_vmem=30G,tscratch=30G'
    cpus = 1
  }
  withName: "CAFE" {
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=24:0:0,h_vmem=30G,tscratch=30G'
    cpus = 8
  }
  withLabel: 'gffread' {
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=1:0:0,h_vmem=30G,tscratch=30G'
    cpus = 1
  }
  withLabel: 'download' {
    clusterOptions = '-S /bin/bash -cwd -l tmem=30G,h_rt=1:0:0,h_vmem=30G,tscratch=30G'
    cpus = 1
  }
}

singularity.enabled = true
singularity.autoMounts = true
