/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'GFFREAD' {
        ext.args = '-y'
        publishDir = [
            path: { "${params.outdir}/gffread" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ORTHOFINDER_CAFE' {
        errorStrategy = 'retry'
        maxRetries    = 3
        publishDir = [
            path: { "${params.outdir}/orthofinder_cafe" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CAFE' {
        publishDir = [
            path: { "${params.outdir}/cafe" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CAFE_GO' {
        publishDir = [
            path: { "${params.outdir}/cafe_go" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CHROMO_GO' {
        publishDir = [
            path: { "${params.outdir}/chromo_go" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CAFE_PLOT' {
        publishDir = [
            path: { "${params.outdir}/cafe_plot" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_BUSCO' {
        publishDir = [
            path: { "${params.outdir}/busco" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'AGAT_SPSTATISTICS' {
        publishDir = [
            path: { "${params.outdir}/agat" },
            mode: params.publish_dir_mode
        ]
    }    

    withName: 'QUAST' {
        publishDir = [
            path: { "${params.outdir}/quast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NCBIGENOMEDOWNLOAD' {
        ext.args = "--format fasta,gff -N"
        publishDir = [
            path: { "${params.outdir}/ncbigenomedownload" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'EGGNOGMAPPER' {
        publishDir = [
            path: { "${params.outdir}/eggnogmapper" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'EGGNOG_TO_GO' {
        publishDir = [
            path: { "${params.outdir}/eggnogmapper/go_files" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'SUMMARIZE_CHROMO_GO' {
        publishDir = [
            path: { "${params.outdir}/chromo_go/summary" },
            mode: params.publish_dir_mode
        ]
    }
}
