process {
  singularity.enabled = true
  singularity.autoMounts = true
  shell = ['/bin/bash','-e']
  executor = 'sge'
  penv = 'smp'
  withName: "ORTHOFINDER" {
    cpus = 8
    clusterOptions = '-l mem=40G -l h_rt=24:0:0 -l tmpfs=40G'
  }
  withName: "GET_DATA" {
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
  }
  withName: "GO_ASSIGN" {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
  }
  withName: "GO_EXPANSION" {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
  }
  withLabel: 'longest' {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
    cpus = 1
  }
  withName: "CAFE" {
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 8
  }
  withName: "CAFE_GO" {
    clusterOptions = '-l mem=20G -l h_rt=2:0:0 -l tmpfs=20G'
    cpus = 1
  }
  withLabel: 'gffread' {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
    cpus = 1
  }
  withLabel: 'download' {
    clusterOptions = '-l mem=20G -l h_rt=1:0:0 -l tmpfs=20G'
    cpus = 1
  }
  withName: "CHROMO_GO" {
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 1
  }

}

singularity.enabled = true
singularity.autoMounts = true
