params {
  input                      = "${projectDir}/data/input_small-s3.csv"  
  predownloaded_fasta        = "s3://excon/data/Insect_data/fasta/"
  predownloaded_gofiles      = "s3://excon/data/Insect_data/gofiles/"
  go_assign                  = true
  cafe                       = true
  cafe_go                    = true
  // Max resources for test input data can be reduced
  max_memory                 = '24.GB'
  max_cpus                   =  16
  max_time                   = '24.h'
}