params {
  input_tree                 = "${projectDir}/data/cafe_input/SpeciesTree_rooted_node_labels.txt"
  input_orthogroups          = "${projectDir}/data/cafe_input/Orthogroups.tsv"
  // Max resources for test input data can be reduced
  max_memory                 = '24.GB'
  max_cpus                   =  10
  max_time                   = '24.h'
}
